
.hamburgerMenu {
    position: relative;
  }
  
  .menuButton {
    background: none;
    border: none;
    color: black;
    font-size: 24px;
    cursor: pointer;
    position: fixed; 
    top: 1rem; 
    right: 1rem; 
    z-index: 2000; 
  }
  
  .menuLinks {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100vw; 
    max-height: 80vh; 
    background: linear-gradient(to right, #073052, #109085);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; 
    gap: 1.5rem;
    padding: 1.5rem 2rem; 
    z-index: 1000;
    border-radius: 8px;
  }
  
  .sheetHeader {
    padding-bottom: 1rem; 
    display: flex;
    justify-content: flex-start; 
  }
  
  .sheetTitle {
    font-size: 2rem;
    color: white;
    font-family: serif;
    font-weight: 600;
  }
  
  .navLinks {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    justify-content: flex-start; 
    align-items: start;
   
  }
  
  .navItem {
    padding: 0.625rem 1.25rem;
    color: white;
    text-decoration: none;
    font-size: 1.125rem; 
    transition: color 0.3s, background-color 0.3s;
  }
  
  .navItem:hover {
    color: #227b94;
    background-color: rgba(255, 255, 255, 0.1);
  }
  